<!DOCTYPE html>
<html>
<head>
<center>
	<title>DAQUIPA FINAL PROJECT</title>
		<link rel ="stylesheet" type ="text/css" href="css/HOMEPAGE.css">
</head>	
<body background="image/saw.jpg" >
<audio autoplay loop>
  <source src="mp3/aws.mp3" type="audio/mpeg">

</audio>

  </div>
<font face="Chiller" size="30" color="white">

<style>
	body{	
		background:url(image/saw.jpg) 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;

</style> 
<h3>SAW MOVIE SERIES</h3>
<table style="width:80%">
  <tr>
    <td><div style="width:300px;height:450px;padding:10px;border:10px double red;"><a href="/app1">
    <img src="image/1.jpg"></td></a>
    <td><div style="width:300px;height:450px;padding:10px;border:10px double red;"><a href="/app2">
    <img src="image/2.jpg"></td></a>
    <td><div style="width:300px;height:450px;padding:10px;border:10px double red;"><a href="/app3">
    <img src="image/3.jpg"></td></a>
  </tr>
  <br>
  <tr>
  	<td><pre><h1>   SAW I</h1></pre></td>
    <td><pre><h1>  SAW II</h1></pre></td>
    <td><pre><h1> SAW III</h1></pre></td>
  </tr>
    <tr>
    <pre>
        <td><div style="width:300px;height:450px;padding:10px;border:10px double red;">
        <a href="/app4"><img src="image/4.jpg"></td></a>
        <td><div style="width:300px;height:450px;padding:10px;border:10px double red;">
        <a href="/app5"><img src="image/5.jpg"></td></a>
    </pre>
    </tr> 

    <tr>
    <td><pre><h1>  SAW IV</h1></pre></td>
    <td><pre><h1>  SAW V</h1></pre></td>
  </tr>
</table>
  <tr>
  <center><h2>MY INFO:</h2></center>
<table style="width:48%">

<td><a href="https://www.facebook.com/bryllejust09">
<img width="50" height="50" src="image/facebook.png"></td>
<td><a href="https://www.facebook.com/bryllejust09"><h2>Brylle Daquipa</h2></a></td>
</a>

<td><a href="https://twitter.com/Bruh_ayll">
<img width="50" height="50" src="image/twitter.png"></td>
<td><h2><a href="https://twitter.com/Bruh_ayll"><h2>@Bruh_ayll</h2></a></h2></td>
</a>

<td><a href="http://steamcommunity.com/id/yosoro/">
<img width="50" height="50" src="image/steam.png"></td>
<td><h2><a href="http://steamcommunity.com/id/yosoro/"><h2>Ver</h2></a></h2></td>
</a>

</tr>
</center>
</font>
</body>
</html>